{
  "fix": true,

  "extends": "eslint:recommended",

  "env": {
    "browser": true,
    "es6": true
  },

  "rules": {
    "indent": [1, 2],
    "quotes": [1, "single"],
    "linebreak-style": [1, "unix"],
    "semi": [2, "always"],
    "no-extra-semi": 1,
    "no-undef": 2,
    "no-console": 1,
    "no-unused-vars": 1,
    "no-delete-var": 2,
    "space-infix-ops": 1,
    "no-mixed-spaces-and-tabs": 2,
    "no-useless-concat": 1,

    "one-var": [1, {
        "initialized": "never",
        "uninitialized": "always"
    }],
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-redeclare": 2,
    "no-with": 2,
    "no-warning-comments": 2,
    "radix": 2,
    "no-array-constructor": 2,
    "no-new-object": 2,
    "no-caller": 2,
    "eqeqeq": [1, "smart"],
    "no-implied-eval": 2,
    "no-invalid-this": 0,
    "no-fallthrough": 2,
    "no-cond-assign": 2,
    "valid-typeof": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-constant-condition": 1,
    "space-before-keywords": [1, "always"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": 2,
    "space-return-throw-case": 1,
    "arrow-parens": 0,
    "arrow-spacing": 0,
    "constructor-super": 1,
    "generator-star-spacing": 0,
    "no-const-assign": 2,
    "no-this-before-super": 2,
    "object-shorthand": 1,
    "no-var": 2,
    "prefer-const": 1,
    "prefer-spread": 1,
    "prefer-reflect": 0,
    "require-yield": 0
  }
}
